body{
	background:url(../images/IMG_1540.JPG);
	background-size: cover;
	font-style: italic;
}
p{
	display: block;
	width: 360px;
	height: 130px;
	background-color: rgb(156, 205, 169);
	font-size: 16px;
	font-style: italic;
} 


h1,h2{
	color: blanchedalmond;
	text-decoration: underline;
	font-weight:bold ;
}
#p1{
	/*text-decoration-style:wavy;*/
	background-color: lightgray;
	color: purple;
}

input[type=text]:hover{
	background-color: green;
	}
input[type=PassWord]:hover{
	background-color: yellowgreen;
	}

a:link    {color:blue;}
a:visited {color:blue;}
a:hover   {color:red;}
a:active  {color:yellow;}

.box1{
	width: 360px;
	height: 260px;
	padding: 6px;
	border-width: 2px;
	border-color: blue;
	border-style: dashed;
}
#form1{
	font-size: 23px;
	font-weight: bolder;   
	text-decoration-color:blue ;
}
table{
	text-align: center;
	color: #00f;
	font-weight: bold;
}
*{
	margin: 6px;
	padding: 6px;
}
/*#form1{
	padding: 6px;
	background-color: white;
	border-style: solid;
	font-weight: 666px;
	margin-left: 6px !important;
		}*/